.loader {
	display: inline-block;
	padding: 12px;
	color: #fff;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
	animation: pulseFade 1s ease-in-out infinite; }

@keyframes pulseFade {
	0% {
		transform: scale(0);
		visibility: hidden;
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}